body {
  margin: 0;
  font-family: "SF Pro Display", "AppleSDGothicNeo", "Malgun Gothic",
    "\B9D1\C740 \ACE0\B515", "\B3CB\C6C0", dotum, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
